@font-face {
    font-family: Roboto-Bold;
    src: local(Roboto-Bold), url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: local(Roboto-Light), url(../font/Roboto-Light.ttf);
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background: url(../images/greeting.jpg) center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: Roboto-Light;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#main-section {
    background: #2d4a1a;
    width: 670px;
    height: 525px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;

}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.input-value {
    margin-bottom: 5px;
}

h2 {
    font-family: Roboto-Bold;
    margin-top: 5px;
    text-align: center;
}
#hback {
    display: flex;
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    justify-content: space-evenly;
}

#create-form{
    margin-left: 30px;
}

#back {
    border: 0;
    outline: none;
    font-size: 20px;
    background: #699b2c;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    cursor: pointer;
}

#back:hover,
#back:focus {
    background: #87af56;
}

#back a:link,
#back a:visited,
#back a:active {
    color: #ffffff;
    font-family: Roboto-Light;
    text-decoration: none;
}

#create {
    border: 0;
    outline: none;
    font-size: 20px;
    background: #699b2c;
    color: #ffffff;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    cursor: pointer;
}

#create:hover,
#create:focus {
    background: #87af56;
}

#input-area {
    overflow: hidden;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 0px solid #ffffff;
    color: #ffffff;
    border-radius: 7px;
    background-color: #699b2c;
    margin-left: 10px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #ffffff;
}

textarea {
    border: 2px solid #ffffff;
    resize: vertical;
}

#input-area::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.671);
}

#input-area::-moz-placeholder {
    color: rgba(255, 255, 255, 0.671);
}

#description textarea{
    margin-right: 30px;
    width: 500px;
}

.flash {
    width: 700px;
    height: 50px;
    margin: 20px auto;
    padding-top: 20px;
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
}

.success {
    background-color: #99b43a;
    font-family: Roboto-Light;
    color: white;
}

.error {
    background-color: #df7e8a;
    font-family: Roboto-Light;
    color: white;
}