* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto-Bold;
    src: local(Roboto-Bold), url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: local(Roboto-Light), url(../font/Roboto-Light.ttf);
}

@font-face {
    font-family: PermanentMarker-Regular;
    src: url(../font/PermanentMarker-Regular.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    background: url(../images/back.png) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.greeting {
    background-image: url(../images/greeting.jpg);
    background-size: cover;
    padding-bottom: 80px;
}

.greeting .icon {
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-top: 60px;
}

.greeting .name {
    position: relative;
    top: 30px;
    left: 10px;
}

.icon-img {
    width: 100%;
    height: auto;
}

.name h1 {
    font-size: 60pt;
    font-family: PermanentMarker-Regular;
    color: #ffffff;
}

.name p {
    font-size: 36pt;
    color: #ffffff;
    font-family: Roboto-Light;
}

body::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
    background-color: #699b2c;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #b8cf69;
    border-radius: 20px;
    border: 1px solid #48575e;
}

a {
    text-decoration: none;
    color: #1ab188;
}

a:hover {
    color: #179b77;
}

.form {
    background: #ffffff;
    width: 700px;
    min-height: 470px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    font-family: Roboto-Light;
    margin-bottom: 30px;
    overflow: hidden;
}

.reg {
    background: #ffffff;
    width: 700px;
    min-height: 600px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    font-family: Roboto-Light;
    overflow: hidden;
}

.tab-group {
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 30px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.tab-group li a:hover {
    background: #ffffff;
    color: #000000;
    border-radius: 100%;
}

.tab-group .active a {
    background: #ffffff;
    color: #000000;
    border-radius: 100%;
}

.tab-content>div:last-child {
    display: none;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.field-wrap input,
textarea {
    font-size: 22px;
    display: block;
    margin: auto;
    width: 630px;
    height: 60px;
    padding: 5px 10px;
    border: 1px solid #a0b3b0;
    color: #000000;
    border-radius: 7px;
    padding-left: 60px;
}

.fname input,
textarea {
    font-size: 22px;
    display: block;
    margin: auto;
    width: 630px;
    height: 60px;
    padding: 5px 10px;
    border: 1px solid #a0b3b0;
    color: #000000;
    border-radius: 7px;
    padding-left: 10px;
    position: relative;
    margin-bottom: 40px;
}

.symbol {
    position: absolute;
    margin-left: 55px;
    margin-top: 15px;
    font-size: 25px;
    color: #a0b3b0;
}

.password-control {
    position: absolute;
    margin-right: 45px;
    margin-top: 5px;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #a0b3b0;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.remember-me {
    /*width: 630px;*/
    padding: 0 20px 0 0;
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.remember-me #text {
    padding: 20px;
}

#remChk {
    margin-left: 40px;
    transform: scale(1.5);
    opacity: 0.9;
    cursor: pointer;
}

.button {
    border: 0;
    outline: none;
    margin: auto;
    margin-top: 40px;
    padding: 10px 0;
    font-size: 2rem;
    background: #699b2c;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    border-radius: 7px;
    width: 630px;
    height: 60px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: #2d4a1a;
}

.button-block {
    display: block;
}


/* 
* FLASH -> SUCCESS -> ERROR 
*/

.flash {
    width: 700px;
    height: 80px;
    margin: 20px auto;
    padding: 24px;
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
}

.success {
    background-color: #99b43a;
    font-family: Roboto-Light;
    color: white;
}

.error {
    background-color: #df7e8a;
    font-family: Roboto-Light;
    color: white;
}