@font-face {
    font-family: Roboto-Bold;
    src: local(Roboto-Bold), url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: local(Roboto-Light), url(../font/Roboto-Light.ttf);
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background: url(../images/greeting.jpg) center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: Roboto-Light;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-section {
    background: #2d4a1a;
    width: 570px;
    height: 320px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
}

#section{
    display: flex;
}

#main-main{
    display: flex;
    margin: auto;
    width: 570px;
    height: 320px;
}

.avatar_change {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.av {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 3px solid #699b2c;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.avatar-img {
    overflow: hidden;
}

p {
    margin: 5px 20px;
}

hr {
    margin: 10px 0px;
    width: 0px;
    border-color: #699b2c;
    border-width: 0.1px;
}

h2 {
    font-family: Roboto-Bold;
    margin: 10px auto;
    font-size: 22px;
}

h3 {
    font-family: Roboto-Light;
    margin: 5px auto;
    font-size: 16px;
    text-align: center;
}

#back {
    border: 0;
    outline: none;
    font-size: 20px;
    background: #699b2c;
    border-radius: 20px;
    margin: 5px 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#back:hover,
#back:focus {
    background: #87af56;
}

#back a:link,
#back a:visited,
#back a:active {
    color: #ffffff;
    font-family: Roboto-Light;
    text-decoration: none;
}

#load {
    border: 0;
    outline: none;
    font-size: 20px;
    background: #699b2c;
    color: #ffffff;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    margin: 10px auto;
    text-align: center;
}

#load:hover,
#load:focus {
    background: #87af56;
}

#btn {
    border: 0;
    outline: none;
    font-size: 20px;
    background: #699b2c;
    color: #ffffff;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin: 10px 15px;
    text-align: center;
}

#btn:hover,
#btn:focus {
    background: #87af56;
}

#input-area {
    overflow: hidden;
    font-size: 16px;
    padding: 5px 10px;
    border: 0px solid #ffffff;
    color: #ffffff;
    border-radius: 7px;
    background-color: #699b2c;
    margin-left: 10px;
    margin-bottom: 7px;
    resize: none;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #ffffff;
}

textarea {
    border: 2px solid #ffffff;
    resize: vertical;
}

#input-area::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.671);
}

#input-area::-moz-placeholder {
    color: rgba(255, 255, 255, 0.671);
}



.flash {
    width: 400px;
    height: 50px;
    margin: 20px auto;
    padding-top: 20px;
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
}

.success {
    background-color: #99b43a;
    font-family: Roboto-Light;
    color: white;
}

.error {
    background-color: #df7e8a;
    font-family: Roboto-Light;
    color: white;
}