{% extends "base.html" %}

{% block head -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock head -%}

{% block content -%}

<div class="flash-area">
    {% for cat, msg in get_flashed_messages(True) -%}
        <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
</div>

<div id="main-main">
    <button type="button" id="back"><a href="{{ url_for('profile') }}"><i class="fa-regular fa-circle-left"></i></a></button>
    <div id="main-section">
    <h2>НАСТРОЙКА</h2>
    <div id="section">
        <div class="avatar">
        <div class="avatar_change">
            <div class="av">
                <img src="{{ url_for('userava') }}" alt="USER_PIC" class="avatar-img">
            </div>

            <p id="name">{{ current_user.get_fname()}} {{ current_user.get_lname() }}</p>
            <p id="email">{{ current_user.get_email()}}</p>
            <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                <p><input id="f" type="file" name="file" value="Выберите файл"></p>
                <p><input id="load" type="submit" value="Загрузить"></p>
            </form>
        </div>
    </div>

    {% include "change_password_form.html" %}
    </div>
</div>



</div>   
       
{% endblock content -%}